.space
{
  display: flex;
  justify-content: space-around;
}
.deck
{
  background: rgb(90,180,90);
  max-width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.flippedCard
{

}
.userCard
{
  background: #FFA6A6;
  border: 2px solid black;
  max-width: 520px;
}
.houseCard
{
  background: #8abcea;
  border: 2px solid black;
  max-width: 520px;
}
.tile
{
  margin: 0;
  padding: 0;
}
.jumbotron
{
  background: #e05757;
}
.jumbotronTransp
{
 padding: 30px;
 margin-bottom: 30px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: white;
 font-family: 'Indie Flower', cursive;
 background-color: #e05757;
 max-height: 400px;
 }

 h1
 {
   font-size: 100px;
 }
 h2
 {
  font-fize: 40px;

 }
.token
{
  border-radius: 55%;
}
.container
{
  /*width: 1285px*/
  width: 1800px;
}
